In [225]:
# Imported the pandas library tor read Json File

import pandas as pd

In [226]:
# Read Banking Json file
df_bank = pd.read_json("test_banking.json")

In [227]:
# list down the data inside the Banking Json file

df_bank

,name,customerType,accountInfo,txnxInfo
0,Sai,Supplier,"{'acNo': '123', 'created': '2021-01-03', 'cust...","[{'txnDate': '2021-01-03', 'type': 'Credit', '..."
1,Krishna,Client,"{'acNo': '12345', 'created': '2021-02-03', 'cu...","[{'txnDate': '2021-02-03', 'type': 'Credit', '..."

In [228]:
# convert txnxInfo into the list

df_bank.txnxInfo = pd.DataFrame(df_bank.txnxInfo.values.tolist())

In [342]:
# read txnxInfo
df_bank.txnxInfo

0    {'txnDate': '2021-01-03', 'type': 'Credit', 'a...
1    {'txnDate': '2021-02-03', 'type': 'Credit', 'a...
Name: txnxInfo, dtype: object

In [343]:
# Create a list of transaction date from key txnDate

tdate = []
for i in df_bank.txnxInfo:
    tdate.append(i['txnDate'])
print(tdate)

['2021-01-03', '2021-02-03']

In [344]:
# Create a list of amount from key amount

amt = []
for i in df_bank.txnxInfo:
    amt.append(i['amount'])
print(amt)

['5000', '5000']

In [345]:
# Create a new dataframe from tdate & amt

df_new = pd.DataFrame(list(zip(tdate,amt)),columns=['Date','Amount'])

In [346]:
df_new

         Date Amount
0  2021-01-03   5000
1  2021-02-03   5000

In [347]:
# Checking data types of each column 

df_new.dtypes

Date      object
Amount    object
dtype: object

In [348]:
# Convert the data type of Date from object to date time

df_new['Date'] = pd.to_datetime(df_new['Date'])

In [349]:
df_new.dtypes

Date      datetime64[ns]
Amount            object
dtype: object

In [351]:
# Loading GST json file

df_gst = pd.read_json("GST.json")

In [352]:
# Look out the record into GST json file
df_gst.head()

  gstin filingType  filingDate  gtinType  contributio
0   abc      gstr1  2021-01-01  Supplier        50000
1   abc      gstr1  2021-02-01  Supplier        50000
2   abc      gstr1  2021-01-01    Client       150000
3   abc      gstr1  2021-02-01    Client       250000

In [353]:
# Data types of each column of GST

df_gst.dtypes

gstin          object
filingType     object
filingDate     object
gtinType       object
contributio     int64
dtype: object

In [354]:
# Convert the filingDate datatypes into datetime format
df_gst['filingDate'] = pd.to_datetime(df_gst['filingDate'])

In [360]:
# Verifying data types of filingDate

df_gst.dtypes

gstin                  object
filingType             object
filingDate     datetime64[ns]
gtinType               object
contributio             int64
dtype: object

In [361]:
# Grouping up the contribution using GST filling date
gk = df_gst.groupby('filingDate').sum().reset_index()

In [363]:
# Looking into the result
gk

  filingDate  contributio
0 2021-01-01       200000
1 2021-02-01       300000

In [311]:
# Convert the data type of Amount into nueric to do mathematical calculati
df_new['Amount'] = pd.to_numeric(df_new['Amount'])

In [312]:
df_new.dtypes

Date      datetime64[ns]
Amount             int64
dtype: object

In [313]:
df_diff = (gk['contributio'] - df_new['Amount'])

In [327]:
# This is result of difference between 

df_diff

0    195000
1    295000
dtype: int64

In [325]:
type(df_diff)

pandas.core.series.Series

In [328]:
gk['variance'] = df_diff

In [329]:
gk

  filingDate  contributio  variance
0 2021-01-01       200000    195000
1 2021-02-01       300000    295000

In [340]:
gk['percentage'] = ((gk['variance']) / gk['contributio']) * 100

In [341]:
gk

  filingDate  contributio  variance  percentage
0 2021-01-01       200000    195000   97.500000
1 2021-02-01       300000    295000   98.333333